{% load i18n %}
{% load static %}

{% translate 'metadata' as TEXT_METADATA %}
{% translate 'translatable content' as TEXT_TRANSLATABLE_CONTENT %}
{% translate 'This item is unpublished' as TEXT_THIS_ITEM_IS_UNPUBLISHED %}

{% if form.published.value == 'false' %}
    <div class="alert alert-warning" role="alert">{{ TEXT_THIS_ITEM_IS_UNPUBLISHED }}</div>
    <div class="margin-top-lg"></div>
{% endif %}

<div class="form-group">
    <h2>{{ TEXT_TRANSLATABLE_CONTENT|capfirst }}</h2>
</div>
{% include 'iamheadless_publisher_admin/components/forms/tabbed_content_formset.html' with FORMSET=content_formset %}
<div class="margin-top-lg"></div>

<div class="form-group">
    <h2>{{ TEXT_METADATA|capfirst }}</h2>
</div>
{% include 'iamheadless_publisher_admin/components/forms/form.html' with FORM=form %}
<div class="margin-top-lg"></div>

<script src="{% static 'iamheadless_readability/js/app.js' %}"></script>
<script>
    
</script>
